/* ----------------------- FUENTES ----------------------- */
@font-face {
  font-family: "EmilyAustin";
  src: url(work/models/memorica/recursos/Type/EmilyAustin.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "Baskerville.";
  src: url(work/models/memorica/recursos/Type/Baskerville.ttc) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* ----------------------- GENERAL ----------------------- */
html {
  height: 100%;
  font-size: 22px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
}

h1 {
  font-family: "EmilyAustin";
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-family: "EmilyAustin";
  font-size: 2.3rem;
  text-align: center;
}

p, a, ul {
  font-family: "Baskerville";
  text-align: justify;
}

.quote {
  font-style: italic;
}

.ver-mas a {
  color: #000;
  font-family: "EmilyAustin";
  font-size: 2rem;
  text-decoration: none;
}

.ver-mas a:hover {
  color: #ED5E5E;
  font-family: "EmilyAustin";
}

.ver-mas {
  text-align: right;
}

.text-toggle[aria-expanded=false] .text-expanded {
  display: none;
}
.text-toggle[aria-expanded=true] .text-collapsed {
  display: none;
}

.small-caps {
  font-variant: small-caps;
}

#intro, .sala {
  background-color: #1A6A73;
}

#video {
  background-color: #ED5E5E;
}

/* ----------------------- INTRO ----------------------- */
#cover {
 background-image: url(/work/models/memorica/recursos/img/plan_iguala/fondo-blanco.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center top;

 /* height: 100%;
 width: 100%; */
}

.splash {
  height: 100%;
}

.intro-splash {
  height: 100%;
}

.intro-splash img {
 width: 100%;
}
